In [1]:
import pandas as pd
import numpy as np
import os
import tensorflow as tf
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.preprocessing import normalize
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import normalize
from sklearn.utils import shuffle
from sklearn.metrics import roc_curve

os.chdir(r'F:\\KARTIK\\2021\\Freezing of Gait')

In [3]:
data_path = os.path.join(os.getcwd(), 'dataset_fog_release', 'dataset', 'FINAL FEATURES', 'final_ftrs_size_1.5_2.csv')
if os.path.exists(data_path):
    print(True)

True

In [4]:
df = pd.read_csv(data_path)
df.head()

,Unnamed: 0,0,Minimum_A_F,RMS_A_F,Variance_A_F,STD_A_F,RangeA_F,RMS_A_V,Variance_A_V,RangeA_V,Variance_A_L,EN_A_F,EN_A_V,EN_A_L
0,7052,0,202,229.549695,94.506836,9.721463,50,989.988044,131.009522,59,141.827148,3372356,62724885,3298766
1,8900,0,-282,347.856719,70597.031010,265.701018,1433,1012.344224,17420.864990,745,3911.380615,7744275,65589813,5926039
2,7814,0,-303,92.452184,6411.233398,80.070178,353,1023.486520,292.225586,88,807.717773,547034,67041578,1805332
3,3105,0,-242,145.406703,2318.411865,48.149890,222,1010.552201,1241.996094,235,956.937500,1353159,65357808,3879360
4,7911,0,111,134.887916,79.272461,8.903508,40,1025.328476,128.882568,49,151.803711,1164464,67283103,914592

In [5]:
df['Energy_Mean'] = (df['EN_A_F'] + df['EN_A_V'] + df['EN_A_L'])/3
df = df.drop(['EN_A_F','EN_A_V','EN_A_L','Unnamed: 0'], axis = 1)

In [6]:
df.head()

,0,Minimum_A_F,RMS_A_F,Variance_A_F,STD_A_F,RangeA_F,RMS_A_V,Variance_A_V,RangeA_V,Variance_A_L,Energy_Mean
0,0,202,229.549695,94.506836,9.721463,50,989.988044,131.009522,59,141.827148,2.313200e+07
1,0,-282,347.856719,70597.031010,265.701018,1433,1012.344224,17420.864990,745,3911.380615,2.642004e+07
2,0,-303,92.452184,6411.233398,80.070178,353,1023.486520,292.225586,88,807.717773,2.313131e+07
3,0,-242,145.406703,2318.411865,48.149890,222,1010.552201,1241.996094,235,956.937500,2.353011e+07
4,0,111,134.887916,79.272461,8.903508,40,1025.328476,128.882568,49,151.803711,2.312072e+07

In [71]:
# Split the data for the classifier
y = df['0'].values
X = df.iloc[:,1:]
#X = normalize(X)
X, y = shuffle(X, y, random_state = 2)

In [72]:
# Initiate the 10 - fold split 
kf = StratifiedKFold(n_splits = 10, shuffle = True, random_state = 2)

# Initiate a random forest model
clf = RandomForestClassifier(
    n_estimators=500,
    criterion='gini',
    max_depth=50,
    min_samples_split=5,
    min_samples_leaf=15,
    max_features='auto',
    max_leaf_nodes=None,
    min_impurity_split=None,
    bootstrap=True,
    n_jobs=-1,
    random_state=2,
    class_weight='balanced'
)

# split()  method generate indices to split data into training and test set.
for (train_index, test_index), i in zip(kf.split(X, y), range(10)):
    print(f'Fold:{i}, Train set: {len(train_index)}, Test set:{len(test_index)}')

Fold:0, Train set: 1988, Test set:221
Fold:1, Train set: 1988, Test set:221
Fold:2, Train set: 1988, Test set:221
Fold:3, Train set: 1988, Test set:221
Fold:4, Train set: 1988, Test set:221
Fold:5, Train set: 1988, Test set:221
Fold:6, Train set: 1988, Test set:221
Fold:7, Train set: 1988, Test set:221
Fold:8, Train set: 1988, Test set:221
Fold:9, Train set: 1989, Test set:220

In [73]:
score = cross_val_score(clf, X, y, cv= kf, scoring="accuracy")
print(f'Scores for each fold are: {score}')
print(f'Average score: {"{:.2f}".format(score.mean())}')

Scores for each fold are: [0.73755656 0.67420814 0.7239819  0.67873303 0.70135747 0.65158371
 0.63800905 0.67873303 0.71945701 0.76363636]
Average score: 0.70

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 2, stratify = y, test_size = 0.40)

In [75]:
m = clf.fit(X_train, y_train)
y_pred = m.predict(X_test)
accuracy_score(y_test, y_pred)

0.6911764705882353

In [76]:
cnf = confusion_matrix(y_test, y_pred)
print(cnf)

[[ 94  35  13]
 [ 60 486 101]
 [  6  58  31]]

In [77]:
# For class pre-FoG
tp = cnf[1][1]
tn = cnf[0][0] + cnf[0][2] + cnf[2][0] + cnf[2][2]
fp = cnf[1][0] + cnf[1][2]
fn = cnf[0][1] + cnf[2][1]

In [78]:
precision = tp/(tp + fp)
recall =  tp / (tp + fn)    #sensitivity
F1_score = (2*tp) / (2*tp + fp + fn)

In [79]:
print("The evaluation metrics are:\nprecision = {},\nrecall = {}, \nF1-score = {}".format(precision, recall, F1_score) )

The evaluation metrics are:
precision = 0.7511591962905718,
recall = 0.8393782383419689,
F1-score = 0.7928221859706363