In [ ]:
#Checking if java is installed in the OS
!java -version

In [ ]:
pip install tabula-py

In [5]:
import tabula
import os
import re
import pandas as pd
#tabula.environment_info()

In [6]:
path = "Canada/Others"
os.listdir(path)

['01_VENTURE_EPD_Modular Carpet_07112018_form (002)_locked.pdf',
 '02_VENTURE_EPD_Commercial Braodloom_07112018_form (002)_locked.pdf',
 'Cladding',
 'Paint',
 'Palmex Synthetic Palm Leaves EPD.pdf',
 'Panels',
 'Sika_EPD_1_Flooring_systems_2019-06-26_vforCSA.pdf',
 'Sika_EPD_2_wall_coatings_2019-06-26_vforCSA.pdf',
 'Sika_EPD_3_Resinous_components_2019-06-26_vforCSA.pdf',
 'Sika_EPD_4_Cementitious_components_2019-06-26_vforCSA.pdf',
 'Walker_EPD_Acid-etched and Unetched Mirrors.pdf']

In [12]:
#tabula.io.build_options(pages = 13,area = None)
file = os.listdir(path)[4]
a = tabula.read_pdf(os.path.join(path, file),
                    pages = 11, lattice = True)
a

[                                          Unnamed: 0  \
 0                                                NaN
 1                                                NaN
 2                    Global warming potential\r(GWP)
 3                   Ozone depletion potential\r(ODP)
 4                      Acidifi cation potential (AP)
 5                      Eutrophication potential (EP)
 6     Photochemical Smog\rFormation Potential (PSFP)
 7  Abiotic resource depletion\rpotential (ADP) – ...
 8  Abiotic resource depletion\rpotential (ADP) – ...

                                           REGULAR Open Roof Closed Roof  \
 0                         Environmental indicator      Unit       A1-A3
 1  TRACI 2.1 (with the exception of ADP elements)       NaN         NaN
 2                                    kg CO  eq. 2      7.41        1.08
 3                                   kg CFC-11 eq.  2.27E-07    8.02E-08
 4                                     kg SO  eq.2  3.21E-02    1.22E-02
 5                                        kg N eq.  5.16E-03    9.40E-04
 6                                      kg O  eq.3  4.60E-01    2.33E-01
 7                                       kg Sb eq.  2.19E-06    8.72E-08
 8                                      MJ Surplus      29.4        2.04

   Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
 0         A4         A5      A1-A3         A4         A5
 1        NaN        NaN        NaN        NaN        NaN
 2       1.85       6.06   6.08E-01   6.08E-01        NaN
 3   3.08E-07   1.49E-07   4.52E-08   3.75E-08        NaN
 4   9.87E-03   2.44E-02   6.88E-03   3.16E-03        NaN
 5   4.76E-03   2.55E-03   5.30E-04   2.63E-03        NaN
 6   1.48E-01   3.51E-01   1.32E-01   3.54E-02        NaN
 7   1.11E-05   1.84E-06   4.92E-08   1.17E-05        NaN
 8       3.48       25.3       1.15   4.43E-01        NaN  ,
 Empty DataFrame
 Columns: [Unnamed: 0]
 Index: [],
 Empty DataFrame
 Columns: [Unnamed: 0]
 Index: []]

In [84]:
# define a function to extract the table which takes page no and area? as input

In [116]:
def extraction(path, pg, table_no = 0):
        #print(pdf_path)
        table = tabula.read_pdf(pdf_path, pages = pg)[table_no]
        print(table)
        row1 = int(input("Start Row: "))
        row2 = int(input("End Row: "))
        col1 = int(input("Start Column: "))
        col2 = int(input("End Column: "))
        print(table.iloc[row1:row2, col1:col2])
        return table.iloc[row1:row2, col1:col2]

In [117]:
dfs = []
for file in os.listdir(path):
    pdf_path = os.path.join(os.getcwd(), path, file)
    print(pdf_path)
    pg = int(input("Page No: "))
    table_no = int(input("Table No: "))
    table = extraction(path, pg, table_no)
    dfs.append(table)

F:\KARTIK\2021\Cardinal LCA\Canada/Gypsum/CTG\CTG_Easi-Lite_EPD_Montreal.pdf
Page No: 17
Table No: 0
        Global Warming kg CO2  Unnamed: 0    Unnamed: 1    Unnamed: 2  \
0          Potential (GWP) eq  142.000000  5.490000e+00  8.690000e+01
1   Ozone depletion kg CFC 11         NaN           NaN           NaN
2                    (ODP) eq    0.000002  4.860000e-10  1.960000e-07
3               Acidification         NaN           NaN           NaN
4                   kg SO2 eq         NaN           NaN           NaN
5              potential (AP)    0.302000  5.160000e-02  1.150000e-01
6              Eutrophication         NaN           NaN           NaN
7    potential (EP) kg N - eq    0.155000  2.830000e-03  2.370000e-02
8               Photochemical         NaN           NaN           NaN
9   ozone creation kg O3 - eq    4.420000  1.020000e+00  2.490000e+00
10                   (POCP) -         NaN           NaN           NaN
11          Abiotic depletion         NaN           NaN           NaN
12       potential for fossil         NaN           NaN           NaN
13         resources (ADP- MJ  337.000000  8.690000e+00  1.930000e+02
14              fossil fuels)         NaN           NaN           NaN

    Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7
0          0.0  3.160000e+00  5.720000e+00  1.250000e+00  5.290000e+00
1          NaN           NaN           NaN           NaN           NaN
2          0.0  2.150000e-11  5.070000e-10  9.990000e-12  5.520000e-11
3          NaN           NaN           NaN           NaN           NaN
4          NaN           NaN           NaN           NaN           NaN
5          0.0  1.480000e-02  5.380000e-02  2.830000e-03  3.450000e-02
6          NaN           NaN           NaN           NaN           NaN
7          0.0  2.890000e-04  2.960000e-03  1.940000e-04  2.900000e-03
8          NaN           NaN           NaN           NaN           NaN
9          0.0  1.330000e-01  1.060000e+00  3.680000e-02  6.700000e-01
10         NaN           NaN           NaN           NaN           NaN
11         NaN           NaN           NaN           NaN           NaN
12         NaN           NaN           NaN           NaN           NaN
13         0.0  5.250000e+00  9.060000e+00  1.010000e+00  8.590000e+00
14         NaN           NaN           NaN           NaN           NaN
Start Row: 0
End Row: 1
Start Column: 0
End Column: 9
  Global Warming kg CO2  Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  \
0    Potential (GWP) eq       142.0        5.49        86.9         0.0

   Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7
0        3.16        5.72        1.25        5.29
F:\KARTIK\2021\Cardinal LCA\Canada/Gypsum/CTG\CTG_M2Tech_EPD_Montreal.pdf
Page No: 17
Table No: 0
                       Global Warming kg CO2    Unnamed: 0    Unnamed: 1  \
0                         Potential (GWP) eq  1.740000e+02  6.300000e+00
1        Ozone depletion  (ODP) kg CFC 11 eq  7.470000e-07  5.580000e-10
2                       Acidification kg SO2           NaN           NaN
3                          potential (AP) eq  3.060000e-01  5.930000e-02
4   Eutrophication  potential (EP) kg N - eq  1.090000e-01  3.260000e-03
5                      Photochemical kg O3 -           NaN           NaN
6                          ozone creation eq  4.870000e+00  1.170000e+00
7                                   (POCP) -           NaN           NaN
8                          Abiotic depletion           NaN           NaN
9   potential for fossil  resources (ADP- MJ  4.230000e+02  9.980000e+00
10                             fossil fuels)           NaN           NaN

      Unnamed: 2  Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6  \
0   9.040000e+01         0.0  3.610000e+00  6.540000e+00  1.430000e+00
1   7.600000e-08         0.0  2.450000e-11  5.790000e-10  1.140000e-11
2            NaN         NaN           NaN           NaN           NaN
3   1.180000e-01         0.0  1.690000e-02  6.150000e-02  3.230000e-03
4   1.930000e-02         0.0  3.300000e-04  3.380000e-03  2.210000e-04
5            NaN         NaN           NaN           NaN           NaN
6   2.580000e+00         0.0  1.520000e-01  1.210000e+00  4.210000e-02
7            NaN         NaN           NaN           NaN           NaN
8            NaN         NaN           NaN           NaN           NaN
9   2.020000e+02         0.0  6.000000e+00  1.040000e+01  1.160000e+00
10           NaN         NaN           NaN           NaN           NaN

      Unnamed: 7
0   6.040000e+00
1   6.310000e-11
2            NaN
3   3.950000e-02
4   3.320000e-03
5            NaN
6   7.650000e-01
7            NaN
8            NaN
9   9.820000e+00
10           NaN
Start Row: 0
End Row: 1
Start Column: 0
End Column: 9
  Global Warming kg CO2  Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  \
0    Potential (GWP) eq       174.0         6.3        90.4         0.0

   Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7
0        3.61        6.54        1.43        6.04

In [ ]:
# data = pd.DataFrame(dfs[0])
# table = pd.DataFrame(dfs[1])
# pd.concat([data, table], ignore_index = True)

In [118]:
for i in range(0, len(dfs)):
              dfs[i] = pd.DataFrame(dfs[i])
len(dfs)

2

In [119]:
dfs[0]

,Global Warming kg CO2,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Potential (GWP) eq,142.0,5.49,86.9,0.0,3.16,5.72,1.25,5.29

In [124]:
x = pd.concat(dfs, ignore_index = True)
x

,Global Warming kg CO2,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Potential (GWP) eq,142.0,5.49,86.9,0.0,3.16,5.72,1.25,5.29
1,Potential (GWP) eq,174.0,6.30,90.4,0.0,3.61,6.54,1.43,6.04

In [116]:
x = x.drop(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2'], axis = 1)

In [125]:
x.rename(columns = {"Global Warming kg CO2":"GWP",
                        "Unnamed: 0" : "Total A1-A3",
                        "Unnamed: 1" : "A4", 
                        "Unnamed: 2" : "A5", 
                        "Unnamed: 3" : "B1-B7", 
                        "Unnamed: 4" : "C1", 
                        "Unnamed: 5" : "C2", 
                        "Unnamed: 6" : "C3",
                        "Unnamed: 7" : "C4"}, inplace = True )

In [126]:
x

                  GWP  Total A1-A3    A4    A5  B1-B7    C1    C2    C3    C4
0  Potential (GWP) eq        142.0  5.49  86.9    0.0  3.16  5.72  1.25  5.29
1  Potential (GWP) eq        174.0  6.30  90.4    0.0  3.61  6.54  1.43  6.04

In [67]:
x = x.T
x

,0,1,2,3,4,5,6,7,8,9,10
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GWP kg CO2 eq,NaN,22.1
5,GWP Global warming potential kg CO eq 1.96E+012,NaN,2.59E+01 1.66E+01,2.55E+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,GWP Global Warming Potential,kg CO eq.,2.67E+01 4.73E+01 6.45E+01,NaN,NaN,NaN

In [127]:
x.to_csv(path + ".csv")

In [179]:
#Enter the pdf path
pdf_path = os.path.join(os.getcwd(),'Wood - Unused', 'QWEB_EPD_RoofTruss_RevisedVersion1.2_July2019_with_label_vforCSA.pdf')
os.path.exists(pdf_path)

True

In [180]:
#Enter the page no
pgno = 14

#Enter the position of the table / table no
table_no = 1

In [177]:
#Extract the table
table = tabula.read_pdf(pdf_path, pages = pgno, stream = True)

In [188]:
#View the table

table[0].iloc[[-1]]

,FPI carbon tool parameters,Units,Wood products in 1m3 of roof truss,Total
21,"Sequestration, net of GHG emissions",kg CO2 eq.,-464.5 -2.13E-02 -3.66E-02,-464.6

In [ ]:
#If satisified, enter the row number

In [ ]:
# Append the row to the list

## APPROACH #2 
### Using Regular Expressions

In [ ]:
pip install pdfplumber

In [202]:
import pdfplumber
import requests
import re

In [226]:
with pdfplumber.open(pdf_path) as pdf:
    page = pdf.pages[3]
    text = page.extract_text()

In [227]:
pdf_name = 'QWEB_EPD_GES_final_amended_2020-08-06.pdf'
pdf_path = os.path.join(os.getcwd(), 'Wood - Unused', pdf_name)
os.path.exists(pdf_path)
#pdf_path

True

In [238]:
exp1 = re.compile(r'Global warming .*')
exp2 = re.compile(r'GWP.*')

In [239]:
print(text)

Environmental impacts
The environmental impacts of 1 cubic meter of glued engineered softwood over the production stage (A1 to
A3 modules1) are summarized below for the main environmental indicators (based on life cycle impact
assessment method TRACI 2.1). Refer to the LCA report or full EPD for more detailed results. Results on resource
use, waste generated, and output flows are presented in the full EPD.
Indicators  Total for 1 m3 of eng.  At the glued engineered
wood (A1 to A3)  softwood plant (A3.3)
Global warming (kg CO2 eq.)  202  65
Acidification of land and water (kg SO2 eq.)  2  0.4
Eutrophication (kg N eq.)  0.41  0.13
Smog (kg O3 eq.)  44  7
Ozone depletion (kg CFC-11 eq.)  4.4 x 10-5  1.3 x 10-5

Relative contribution of each life cycle module to the overall  These results are representative of the
environmental impacts  glued engineered softwood available in
Quebec, Canada. They are based on
0% 20% 40% 60% 80% 100% data  provided  by  3  manufacturers
Global warming potential which represent approximately 80% of
Acidification potential the production of small- and medium-
Eutrophication potential sized QWEB members.
Smog creation potential
Data  was  collected  from  glued
Ozone depletion potential
engineered softwood manufacturers for
their  operations  occurring  during  a  1-
Raw material supply
year period between May 2015 and July
Transport to softwood lumber manufacturing plants
Manufacturing of lumber and transport 2017.
Manufacturing of glued engineered softwood

1 A1 to A3 modules cover the following processes: raw material supply (forest management, logging, planting), transport of
raw materials (transportation from forests and other suppliers to softwood lumber manufacturing plants), and manufacturing
(production of lumber, transport to glued engineered softwood plants and production of glued engineered softwood).
    For more information: www.quebecwoodpexport.com

In [240]:
for row in text.split('\n'):
    if exp.match(row) :
        print(row)